#form__container {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  background-color: #262625;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lobby__form {
  padding: 2em;
}

#form__container__header {
  border-radius: 10px 10px 0 0;
  padding: 10px;
  text-align: center;
  background-color: #363739;
  margin: 0;
  font-size: 18px;
  font-size: 300;
  line-height: 0;
}

.form__field__wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form__field__wrapper label {
  font-size: 14px;
  line-height: 1.7em;
  margin-bottom: 10px;
  display: block;
}

.form__field__wrapper input {
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 16px 20px;
  font-size: 15px;
  background-color: #3f434a;
}

.form__field__wrapper button[type='submit'] {
  margin-top: 32px;
  cursor: pointer;
  background-color: #845695;
  border: none;
  color: #fff;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 5px;
  gap: 10px;
}

.form__field__wrapper button[type='submit'] svg {
  fill: #ede0e0;
  width: 20px;
}

#avatar__selection {
  margin-right: 10px;
  display: flex;
  gap: 1em;
}

.avatar__option {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #797a79;
}

.avatar__option__selected {
  border: 3px solid #845695;
}
#lobby__form button {
  background-color: #845695;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#lobby__form button:hover {
  background-color: #940bd3;
  transform: scale(1.05); /* Add a slight scale effect on hover */
}
#lobby__form input[type="text"] {
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, #845695, #6e4482);
  border-image-slice: 1;
  padding: 8px;
  transition: border-color 0.3s ease;
}

#lobby__form input[type="text"]:focus {
  outline: none;
  border-color: #845695;
}
/* Update the styles for the form container in styles/main.css */

@keyframes borderAnimation {
  0% {
    border-color: #ffffff;
  }
 50% {
  border-color:#ac00eb;
 }
  100% {
    border-color: #ffffff;
  }
}

#form__container {
  border: 5px solid;
  animation: borderAnimation 4s linear infinite;
  padding: 10px;
}
